/* load neuzeit s fonts */
@font-face {
    font-family: 'neuzeit-s-heavy';
    src: url('../fonts/nzs-heav-webfont.eot');
    src: url('../fonts/nzs-heav-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nzs-heav-webfont.woff2') format('woff2'),
         url('../fonts/nzs-heav-webfont.woff') format('woff'),
         url('../fonts/nzs-heav-webfont.ttf') format('truetype'),
         url('../fonts/nzs-heav-webfont.svg#neuzeitsbookheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neuzeit-s-book';
    src: url('../fonts/nzs-book-webfont.eot');
    src: url('../fonts/nzs-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nzs-book-webfont.woff2') format('woff2'),
         url('../fonts/nzs-book-webfont.woff') format('woff'),
         url('../fonts/nzs-book-webfont.ttf') format('truetype'),
         url('../fonts/nzs-book-webfont.svg#neuzeitsbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* element styles */
body,
input,
input.submit {
	font-size: 17px;
  	line-height: 20px;
  	font-family: neuzeit-s-book, Helvetica, sans-serif;
  	color: #183029;
}

/* stop bouncing at top of page */
/*
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body > #main-container {
	height: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
 */

input {
	border-style: solid;
	border-width:1px;
	margin: 10px;
}

input.submit {
	padding: 1px;
	background-color: white;
	border-style: solid;
	border-width:1px;
	border-color:black;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #fff;
	background-color: #183029;
}

/* class styles */
.menuItemContainer:empty {
	display: inline-block;
	float: left;
	padding-left: 10px;
}

.text {
/* 	position: relative; */
	position: fixed;
	top: 0px;
	right: 0px;
	padding: 20px 20px 20px 20px;
	display: inline-block;

	max-width: 40%;
	z-index: 100;
}

.text:hover{
  background-color: rgba(255, 255, 255, .7);  
}

.images {
 	position: relative;
}

.imageContainer {
	cursor: pointer;
}

.image-hover > img:hover {
	opacity: 0.5;
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
}

.image-hover {
	background-color: #183029
}

.caption {
	font-size: 12px;
	padding-top: 2px;
}

/* id styles */
#fenster
{
	  width: 50%;
	  height: 50%;
	  margin-left: auto;
	  margin-right: auto;
	  position: relative;
	  top: 50%;
	  transform: translateY(-50%);
	  -webkit-transform: translateY(-50%);
	  z-index: 501;
	  cursor: pointer;
}

#fenster > img 
{
	position: absolute;
	width: 50%;
	top: 25%;
	left: 25%;
	z-index: 501;
}

#fenster:hover {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#fixed-container {
	position: fixed;
	z-index: 500;
}

#header {
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 20px;
}

#date {
	float: left;
}

#menu {
	margin-left: 20px;
	margin-right: 20px;
}

#logo {
	position: fixed;
	top: 50%;
	width: 100%;
	font-family: neuzeit-s-heavy;
	font-size: 40pt;
	text-align: center;
}

#lang {
	position: fixed;
	/*right: 0px;*/
	left: 0px;
  	bottom: 0px;
  	margin: 20px;
}

#subscribe {
	position: fixed;
	right: 0px;
	bottom: 0px;
	padding: 20px;
}

#lang > .selected {
	color: #fff;
	background-color: #183029;
}


#nav-container {
	height: 100%;
}

#ex {
	cursor: pointer;
	position: absolute;
	padding: 15px;
	right: 0px;
	top: 0px;
}

#prev {
	cursor: pointer;
	position: absolute;
	padding: 15px;
	left: 0px;
	top: 50%;	
}

#next {
	cursor: pointer;
	position: absolute;
	padding: 15px;
	right: 0px;
	top: 50%;	
}

#main-container {
	/*padding: 20px;*/
}

.content {
	/*padding: 20px;*/
}
/* skrollr styles */

html, body {
	height:100%;
}

.skrollr-desktop body {
	/*height:100% !important;*/
}

.no-skrollr .parallax-image-wrapper {
	display:none !important;
}

#skrollr-body {
	height:100%;
	overflow:visible;
	position:relative;
}

/* swipejs styles */
#slider {
	width: 100vw;
	height: 100vh;
}

.swipe {
	  overflow: hidden;
	  visibility: hidden;
	  position: relative;
}
.swipe-wrap {
	  overflow: hidden;
	  position: relative;
}
.swipe-wrap > div {
	  float:left;
	  width:100vw;
	  position: relative;
	  height: 100vh;
}

/* utilities */
.clearer {
	clear: both;
}

.hidden {
	display: none;
}

.blink {
	/* color: #ff0000; */
	animation: blink 5s infinite;
	-webkit-animation: blink 5s infinite;
	transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;
}

@keyframes blink {
	0% { 
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes blink {
	0% { 
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* hack-y things */

/* for partner section */
.logos > img {
	margin: 20px;
}

/* display header inline */
#header > div {
	display: inline-block;
}

/* force safari to display fonts normally (fixed elements) */
body {
	-webkit-font-smoothing: subpixel-antialiased;
}

/* mobile styles */
@media screen and (max-device-width: 568px) {
	body {
		font-size: 20px;
		line-height: 25px;
	}
	
	.text {
		max-width:100%;
		margin-left: auto;
		margin-right: auto;
		float: inherit;
	}
	#fixed-container {
		position: relative; 
	}
	#main-container {
		padding-bottom: 60px;
	}
	#header {
		position: relative;
	}
	
	#header > div {
		display: inherit;
	}
	
	#date {
		float: initial;
	}
	
	#nav-container {
		height: initial;
	}
}