/* load neuzeit s fonts */
@font-face {
    font-family: 'neuzeit-s-heavy';
    src: url('../fonts/nzs-heav-webfont.eot');
    src: url('../fonts/nzs-heav-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nzs-heav-webfont.woff2') format('woff2'),
         url('../fonts/nzs-heav-webfont.woff') format('woff'),
         url('../fonts/nzs-heav-webfont.ttf') format('truetype'),
         url('../fonts/nzs-heav-webfont.svg#neuzeitsbookheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neuzeit-s-book';
    src: url('../fonts/nzs-book-webfont.eot');
    src: url('../fonts/nzs-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nzs-book-webfont.woff2') format('woff2'),
         url('../fonts/nzs-book-webfont.woff') format('woff'),
         url('../fonts/nzs-book-webfont.ttf') format('truetype'),
         url('../fonts/nzs-book-webfont.svg#neuzeitsbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* element styles */
body {
	font-size: 17px;
  	line-height: 20px;
  	font-family: neuzeit-s-book, Helvetica, sans-serif;
  	color: #183029;
  	/*overflow: hidden;*/
}

a {
	color: inherit;
	text-decoration: none;
	color: #fff;
	background-color: #183029;
	padding-left: 1px;
	padding-right: 1px;
}

a:hover {
	color: #183029;
	background-color: #fff;
}

u, em {
	text-decoration: none;
  	border-bottom: 1px solid;
  	font-style: normal;
}
/* stop bouncing at top of page */
/*
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body > #main-container {
	height: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
 */

/* form styles */
input {
	border-style: solid;
	border-width:1px;
	border-color: #183029;
	margin: 4px;
	color: rgba(24, 48, 41, 1);
	/*padding: 2px;*/
}

input[type="submit"], input.submit {
	color: white;
  	background-color: #183029;
  	padding-left: 10px;
  	padding-right: 10px;
  	margin: 0px;
}

input[type="submit"]:hover {
	background-color: white;
  	color: #183029;
}

input[type="text"] {
	font-family: inherit;
}

.small {
	font-size: 14px;
	line-height: 17px;
}


#fixed-container a, 
.press-image a {
	color: #183029;
	background-color: transparent;
}

#fixed-container a:hover {
	color: #fff;
	background-color: #183029;
}

/* class styles */
.menuItemContainer:empty {
	display: inline-block;
	float: left;
	padding-left: 10px;
}

.text {
	/* non-parallax styles */
	position: relative;
	float: right;
	
	max-width: 40%;
	z-index: 100;
	padding: 20px;
}

/* 
.text:hover{
	background-color: rgba(255, 255, 255, .7);  
}
 */

.error {
	color: red;
}
.images {
 	position: relative;
}

.imageContainer {
	cursor: pointer;
}

.image-hover > img:hover {
	background-color: #183029;
	opacity: 0.5;
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
}

.image-hover {
	background-color: #183029;
}

.caption {
	font-size: 12px;
	line-height: 14px;
	padding-top: 2px;
}

.membership-type:nth-child(2),
.membership-type:nth-child(3),
.membership-type:nth-child(4) {
	padding-top: 3px;
	padding-bottom: 3px;
}
.press-text {
	padding: 20px;
	padding-bottom: 0px;
}

.press-image a {
	padding: 0px;
}
.press-image {
	display: inline-block;
	max-width: 200px;
	margin: 20px;
}

.press-div {
	width: 200px;
	height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* background-size: contain; */
}

.marquee.scroll span {
	/*-webkit-marquee: auto medium infinite scroll normal;*/
	display: inline-block;
	-webkit-marquee-direction: auto;
	-webkit-marquee-style: scroll;
	-webkit-marquee-speed: fast;
	-webkit-marquee-increment: small;
	-webkit-marquee-repetition: 6;
	overflow-x: -webkit-marquee;

}


/* id styles */
#fixed-container {
	position: fixed;
	z-index: 500;
}

#header {
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 20px;
}

#date {
	float: left;
}

#menu {
	margin-left: 20px;
	margin-right: 20px;
}

#logo {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	font-family: neuzeit-s-heavy;
	font-size: 80pt;
	line-height: 90pt;
	text-align: center;
}

marquee#logo {
	white-space: nowrap;
	overflow: hidden;
}
#radio, #controls {
    position: fixed;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 480px;
    height: 360px;
    margin-top: -180px;
    margin-left: -240px;
}

#radio > img {
    margin-right: auto;
    margin-left: auto;
    width: 360px;
    height: 360px;
    display: block;
}
a#controls {
	z-index: 10;
}
a#controls {
	color: rgba(255, 255, 255, 0.0);
	background-color: transparent;
}

a#controls:hover {
	background-color: transparent;
}

#lang {
	position: fixed;
	/*right: 0px;*/
	left: 0px;
  	bottom: 0px;
  	margin: 20px;
}

#subscribe {
	position: fixed;
	right: 0px;
	bottom: 0px;
	padding: 20px;
}

#lang > .selected a{
	color: #fff;
	background-color: #183029;
}


#nav-container {
	height: 100%;
	background-position: center center;
}

#ex {
	cursor: pointer;
	position: absolute;
	padding: 15px;
	right: 0px;
	top: 0px;
}

#prev {
	cursor: pointer;
	position: absolute;
	padding: 15px;
	left: 0px;
	top: 50%;	
}

#next {
	cursor: pointer;
	position: absolute;
	padding: 15px;
	right: 0px;
	top: 50%;	
}

#counter {
	font-size: 12px;
	line-height: 14px;
	position: absolute;
	padding: 10px;
	top: 0px;
	left: 0px;
	/*background-color: rgba(255, 255, 255, .7);  */
}

#main-container {
	/*padding: 20px;*/
}

.content {
	/*padding: 20px;*/
}

/* skrollr styles */
html, body {
	height:100%;
}

.skrollr-desktop body {
	/*height:100% !important;*/
}

.no-skrollr .parallax-image-wrapper {
	display:none !important;
}

#skrollr-body {
	height:100%;
	overflow:visible;
	position:relative;
}

/* swipejs styles */
#slider {
	width: 100vw;
	height: 100vh;
}

.swipe {
	  overflow: hidden;
	  visibility: hidden;
	  position: relative;
}
.swipe-wrap {
	  overflow: hidden;
	  position: relative;
}
.swipe-wrap > div {
	  float:left;
	  width:100vw;
	  position: relative;
	  height: 100vh;
}

/* utilities */
.clearer {
	clear: both;
}

.hidden {
	display: none;
}

.blink-fade {
/* 
	opacity: 0;
	animation: blink-fade 15s 1 normal;
	-webkit-animation: blink-fade 15s 1 normal;
	transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;
 */
}

.blink-fade span {
	display: inline-block;
	-webkit-marquee-direction: auto;
	-webkit-marquee-style: scroll;
	-webkit-marquee-speed: fast;
	-webkit-marquee-increment: small;
	-webkit-marquee-repetition: 6;
	overflow-x: -webkit-marquee;
}
.blink-slow {
	animation: blink 15s 1 normal;
	-webkit-animation: blink 15s 1 normal;
	transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;
}

.blink {
	/* color: #ff0000; */
	animation: blink 5s infinite;
	-webkit-animation: blink 5s infinite;
	transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;
}

@keyframes blink {
	0% { 
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blink {
	0% { 
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes blink-fade {
	0% { 
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes blink-fade {
	0% { 
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* hack-y things */

/* for partner section */
.logos > img {
	margin: 20px;
	display: block;
}

.logos {
	float: right;
	padding: 20px;
}

/* display header inline */
#header > div {
	display: inline-block;
}

/* force safari to display fonts normally (fixed elements) */
body {
	-webkit-font-smoothing: subpixel-antialiased;
}

/* mobile styles */
@media screen and (max-device-width: 568px) 
{
	/* elements */
	html, body {
		height: 100%;
	}
	body {
		overflow: inherit;
		font-size: 20px;
		line-height: 25px;
	}
	
	/* classes */
	.text {
		max-width:100%;
		margin-left: auto;
		margin-right: auto;
		float: inherit;
		padding-bottom: 60px;
	}
	
	.content {
		width: 100%;
	}
	
	.logos > img {
		max-width: 100%;
	}
	
	.images {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	/* ids */
	#fixed-container {
		position: relative; 
	}
	
	#main-container {
		padding-bottom: 60px;
	}
	
	#header {
		position: relative;
	}
	
	#header > div {
		display: inherit;
	}
	
	#date {
		float: initial;
	}
	
	#nav-container {
		height: initial;
	}
	
	#logo {
		font-size: 60px;
		line-height: 65px;
	}
}