.container {
	max-width: 100%;
	max-height: 100%;
}

#cube {
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
}

#menu-cube {
	position: relative;
	display: flex;
}

#header > div#menu-cube {
	display: flex;
}

#menu-cube div {
	margin: 0px 20px;
	display: block;
	position: absolute;
	top: 0px;
}

.f1,
.f2 {
	cursor: pointer;
}



#menu-cube .f1 { 
	transform: rotateY(0deg); 
}
#menu-cube .f2 { 
	transform: rotateY(90deg); 
}

#menu-cube .f3 { 
	transform: rotateY(90deg); 
}

#cube .show-front  { transform: translateZ( -100px ) rotateY(    0deg ); }
#cube .hide-front { transform: rotateY(-90deg); }
#cube .show-back   { transform: translateZ( -100px ) rotateX( -180deg ); }
#cube .show-right  { transform: translateZ( -100px ) rotateY(  0deg ); }
#cube.show-left   { transform: translateZ( -100px ) rotateY(   90deg ); }
#cube.show-top    { transform: translateZ( -100px ) rotateX(  -90deg ); }
#cube.show-bottom { transform: translateZ( -100px ) rotateX(   90deg ); }


#menu-cube div { 
	transition: transform 1s; 
}

/* wormhole stuff */

#wormhole {
	position: fixed;
	padding: 20px;
	opacity: 0;
}

@-webkit-keyframes fade-in-out {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
  
	100% {
		opacity: 0;
  	}
}

@keyframes fade-in-out {
	0% {
		opacity: 0;
	}

	40%, 60% {
		opacity: 1;
	}
  
	100% {
		opacity: 0;
  	}
}

#wormhole {
	-webkit-animation-name: fade-in-out;
	animation-name: fade-in-out;
	
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
}