# AuthType Basic
# AuthName "Kunstverein Muenchen"
# AuthUserFile /kunden/98668_22767/rp-hosting/20082/20084/km-2015/.htpasswd
# Require valid-user

Options +FollowSymLinks
IndexIgnore */*

# Turn on the RewriteEngine
RewriteEngine On
RewriteBase /

#  Rules
RewriteCond %{HTTP_HOST} ^kunstverein-muenchen\.de$ [NC]
RewriteRule ^(.*)$ http://www.kunstverein-muenchen.de/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# contact 
RewriteRule ^de/kontakt/?$ index.php?id=14 [R]
RewriteRule ^en/contact/?$ index.php?id=8 [R]
RewriteRule ^de/newsletter/?$ index.php?id=14,26 [R]
RewriteRule ^en/newsletter/?$ index.php?id=8,25 [R]

# program
RewriteRule ^de/programm/?$ index.php?id=11 [R]
RewriteRule ^en/programme/?$ index.php?id=5 [R]
RewriteRule ^de/archiv/?$ index.php?id=11,10 [R]
RewriteRule ^en/archive/?$ index.php?id=5,4 [R]
RewriteRule ^de/kalender/([0-9]+)/([0-9]+)/?$ index.php?id=11,39 [R]
RewriteRule ^en/calendar/([0-9]+)/([0-9]+)/?$ index.php?id=5,31 [R]
RewriteRule ^de/publikationen/?$ index.php?id=11,12 [R]
RewriteRule ^en/publications/?$ index.php?id=5,6 [R]
RewriteRule ^de/editionen/?$ index.php?id=11,30 [R]
RewriteRule ^en/editions/?$ index.php?id=5,28 [R]

# membership (see below)

# about
RewriteRule ^de/kunstverein-muenchen/?$ index.php?id=9,19 [R]
RewriteRule ^en/kunstverein-muenchen/?$ index.php?id=3,15 [R]
RewriteRule ^de/vorstand/?$ index.php?id=9,20 [R]
RewriteRule ^en/board/?$ index.php?id=3,16 [R]
RewriteRule ^de/team/?$ index.php?id=9,21 [R]
RewriteRule ^en/team/?$ index.php?id=3,17 [R]
RewriteRule ^de/partner/?$ index.php?id=9,22 [R]
RewriteRule ^en/partners/?$ index.php?id=3,22 [R]
RewriteRule ^de/impressum/?$ index.php?id=9,432 [R]
RewriteRule ^en/imprint/?$ index.php?id=3,411 [R]

RewriteRule ^pressfiles/?$ press.php?id=848 [R]

# everything else ?
RewriteRule ^de(.+)$ index.php?lang=de [R]
RewriteRule ^en(.+)$ index.php?lang=en [R]

# admin
RewriteRule ^admin(.*)$ OPEN-RECORDS-GENERATOR [R]

# membership-page specific redirects
RewriteRule ^de/mitglied-werden/?$ member.php?id=29,781 [R]
RewriteRule ^en/membership-application/?$ member.php?id=27,778 [R]
RewriteCond %{QUERY_STRING} 29,781
RewriteRule ^index.php$ member.php?id=29,781 [R]
RewriteCond %{QUERY_STRING} 27,778
RewriteRule ^index.php$ member.php?id=27,778 [R]

# presse page redirect
RewriteCond %{QUERY_STRING} 848
RewriteRule ^index.php$ press.php [R]

# ds page redirect
RewriteCond %{QUERY_STRING} 5,4,55,1328
RewriteRule ^index.php$ index.php?id=5,4,55,1370 [R]
